.chat_main
  .header
    .header__group
      %p.header__group__name
        =@group.name
      .header__group__message
        Member:
        .header__group__message_name
          -@group.users.each do |user|
            =user.name

    .edit_btn
      = link_to  edit_group_path(@group),class:"box" do
        .edit_btn__box__text
          Edit
  
  .messages_box
    = render @messages
      
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'