.chat_side
  .header
    .header__box
      %p.header__box__username
        =current_user.name
      %ul.header__box__menu
        %li.header__box__group
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog',class: 'cog')
        %li.header__box__edit
          = link_to new_group_path do
            = icon('fas', 'edit')
        
  .main
    - current_user.groups.each do|group|
      = link_to  group_messages_path(group),class:"group" do
        %p.group__name
          =group.name
        %p.group__comment
          = group.show_last_message